body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(#f6cfbe, #b9dcf2);  
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("images/cairo.jpg");
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    text-shadow: 0 0 3px black;
}

.text {
    color: white ;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    margin: 15px auto;
    background-color: #f0d9a9;
    box-shadow: 4px 4px #c2dfe5;
    width: fit-content;
    padding: 5px 25px;

}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-shadow: 0 0 3px black;
    text-align: center;
}

.container > div{
    flex: 1;
}

  
#food-img,#places-img, #act-img {
    color: white;
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 100px;
    background-size: cover;
    box-shadow: 0px 0px 15px white;
    text-shadow: 0 0 4px black;
  }

#food-img{
    background-image: url("images/food.jpg");
}

#places-img {
    background-image: url("images/places.jpg");
}

#act-img {
    background-image: url("images/activities.jpg");
}


#food-img:hover, #places-img:hover, #act-img:hover {
    transform: scale(1.10);
    text-shadow: 0 0 4px black;
    border: 2px solid #62868b;
    box-shadow: 0px 0px 10px white;
    font-size: larger;
}

.list-categories {
    list-style-type: none;
    font-size: medium;
    padding: 10px 0 10px 0;
    margin: 0;
    max-height: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 200ms ease;
  }
  
  .show:hover + .list-categories {
    opacity: 1;
    max-height: inherit;
    padding: 5px 0 5px 0;
  }
  
.card {
    width: 500px;
    height: 200px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(#b9e0e7, #f7d8a0);  
    color: #2b2d42;
    border-left: 5px solid #62868b;
    border-right: 5px solid #62868b;
    border-bottom: 5px solid #db8a12;
    border-top: 5px solid #db8a12;

}

.guide-text {
    color: white;
    font-size: medium;
    font-weight: bolder;
    text-shadow: 0 0 3px black;
    margin: 5px auto 5px 0;
    padding: 10px;
}

#pfp-img {
    width: 200px;
    box-shadow: 0px 0px 5px rgb(172, 62, 80);
}